@use "../utilities/get-color" as *;


nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    .nav-header {
        display: flex;
    }

    .nav-body {
        display: flex;
        background-color: getColor(Light-100);
    }


}