/**
 * TYPOGRAPHY VARIABLES
 * -----------------------
 */



//  Base Font Variables;
$typography: (
  // Base font variables;
  "base-font-size": 16px,
  "base-font-weight": 400,
  "base-line-height": 140%,

  // Lead font variables;
  "lead-font-size": 1.125rem,
  "lead-font-weight": 700,
  "lead-line-height": 140%,

  // Heading font variables;
  "heading-font-weight": 700,
  "heading-line-height": 100%,
);

$heading-sizes: (
  // Display sizes (Hero/Feature headings);
  "display-1": ( //
    "sm": "2.75rem",
    "md": "3.25rem",
    "lg": "3.5rem"
  ),
  "display-2": ( //
    "sm": "2.5rem",
    "md": "2.75rem",
    "lg": "3.25rem",
  ),

  // Heading sizes (Content hierarchy);
  "h1": ( //
    "sm": "2.25rem",
    "md": "2.5rem",
    "lg": "3rem"
  ),
  "h2": ( //
    "sm": "2rem",
    "md": "2.25rem",
    "lg": "2.5rem",
  ),
  "h3": ( //
    "sm": "1.875rem",
    "md": "2rem",
    "lg": "2.25rem",
  ),
  "h4": ( //
    "sm": "1.75rem",
    "md": "1.875rem",
    "lg": "2rem",
  ),
  "h5": ( //
    "sm": "1.625rem",
    "md": "1.75rem",
    "lg": "1.875rem",
  ),
  "h6": ( //
    "sm": "1.5rem",
    "md": "1.625rem",
    "lg": "1.75rem",
  ),
);

$eyebrow: (
  "font-family": "DM Sans",
  "font-weight": 700,
  "font-size": 0.875rem,
  "line-height": 100%,
  "letter-spacing": 4%,
  "text-transform": uppercase,
  "padding": 0,
  "border-radius": 0,
  "background-color": "transparent",
);



// Base Font Variables
:root {
  @each $name, $value in $typography {
    --#{$name}: #{$value};
  }
}

// Heading sizes Variables
:root {
  @each $heading, $sizes in $heading-sizes {
    @each $breakpoint, $size in $sizes {
      --#{$heading}-#{$breakpoint}: #{$size};
    }
  }
}

// Eyebrow Variables
:root {
  @each $name, $value in $eyebrow {
    --eyebrow-#{$name}: #{$value};
  }
}