@use "../utilities/get-color" as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  font-size: var(--btn-md-font-size);
  font-weight: var(--btn-font-weight);
  height: var(--btn-md-height);
  line-height: var(--btn-line-height);
  border-radius: var(--btn-border-radius);
  padding: 0 var(--btn-md-padding-x);


  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;

  // Focus styles
  &:focus-visible {
    outline: 2px solid getColor("Primary");
    outline-offset: 2px;
  }

  &:hover {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }

  // Sizes
  &--sm {
    height: var(--btn-sm-height);
    padding: 0 var(--btn-sm-padding-x);
    font-size: var(--btn-sm-font-size);
  }

  &--lg {
    height: var(--btn-lg-height);
    padding: 0 var(--btn-lg-padding-x);
    font-size: var(--btn-lg-font-size);
  }

  // Full width
  &--block {
    display: block;
    width: 100%;
  }

  // Variants (Primary, Secondary, Danger, etc.)
  &--primary {
    color: getColor("Primary-Contrast");
    background-color: getColor("Primary");
    border-color: getColor("Primary");

    &:hover {
      color: getColor("Primary-Contrast");
      background-color: getColor("Primary-Shade");
      border-color: getColor("Primary-Shade");
    }
  }

  &--secondary {
    background-color: getColor("Secondary");
    color: getColor("Secondary-Contrast");
    border-color: getColor("Secondary");

    &:hover {
      background-color: getColor("Secondary-Shade");
      color: getColor("Secondary-Contrast");
      border-color: getColor("Secondary-Tint");
    }
  }

  &--danger {
    background-color: getColor("Danger");
    color: getColor("Danger-Contrast");
    border-color: getColor("Danger");

    &:hover {
      background-color: getColor("Danger-Tint");
      color: getColor("Danger-Contrast");
      border-color: getColor("Danger-Tint");
    }
  }

  &--warning {
    background-color: getColor("Warning");
    color: getColor("Warning-Contrast");
    border-color: getColor("Warning");

    &:hover {
      background-color: getColor("Warning-Tint");
      color: getColor("Warning-Contrast");
      border-color: getColor("Warning-Tint");
    }
  }

  &--success {
    background-color: getColor("Success");
    color: getColor("Success-Contrast");
    border-color: getColor("Success");

    &:hover {
      background-color: getColor("Success-Tint");
      color: getColor("Success-Contrast");
      border-color: getColor("Success-Tint");
    }
  }

  &--info {
    background-color: getColor("Info");
    color: getColor("Info-Contrast");
    border-color: getColor("Info");

    &:hover {
      background-color: getColor("Info-Tint");
      color: getColor("Info-Contrast");
      border-color: getColor("Info-Tint");
    }
  }

  &--black {
    background-color: getColor("Black");
    color: getColor("White");
    border-color: getColor("Black");

    &:hover {
      background-color: getColor("White");
      color: getColor("Black");
    }
  }

  &--white {
    background-color: getColor("White");
    color: getColor("Black");
    border-color: getColor("White");

    &:hover {
      background-color: getColor("Black");
      color: getColor("White");
    }
  }
}