.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  font-size: var(--btn-md-font-size);
  font-weight: var(--btn-font-weight);
  height: var(--btn-md-height);
  line-height: var(--btn-line-height);
  border-radius: var(--btn-border-radius);
  padding: 0 var(--btn-md-padding-x);


  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;

  // Focus styles
  &:focus-visible {
    outline: 2px solid var(--color-Primary);
    outline-offset: 2px;
  }

  &:hover {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }

  // Sizes
  &--sm {
    height: var(--btn-sm-height);
    padding: 0 var(--btn-sm-padding-x);
    font-size: var(--btn-sm-font-size);
  }

  &--lg {
    height: var(--btn-lg-height);
    padding: 0 var(--btn-lg-padding-x);
    font-size: var(--btn-lg-font-size);
  }

  // Full width
  &--block {
    display: block;
    width: 100%;
  }

  // Variants (Primary, Secondary, Danger, etc.)
  &--primary {
    color: var(--color-Primary-Contrast);
    background-color: var(--color-Primary);
    border-color: var(--color-Primary);

    &:hover {
      color: var(--color-Primary-Contrast);
      background-color: var(--color-Primary-Shade);
      border-color: var(--color-Primary-Shade);
    }
  }

  &--secondary {
    background-color: var(--color-Secondary);
    color: var(--color-Secondary-Contrast);
    border-color: var(--color-Secondary);

    &:hover {
      background-color: var(--color-Secondary-Shade);
      color: var(--color-Secondary-Contrast);
      border-color: var(--color-Secondary-Tint);
    }
  }

  &--danger {
    background-color: var(--color-Danger);
    color: var(--color-Danger-Contrast);
    border-color: var(--color-Danger);

    &:hover {
      background-color: var(--color-Danger-Tint);
      color: var(--color-Danger-Contrast);
      border-color: var(--color-Danger-Tint);
    }
  }

  &--warning {
    background-color: var(--color-Warning);
    color: var(--color-Warning-Contrast);
    border-color: var(--color-Warning);

    &:hover {
      background-color: var(--color-Warning-Tint);
      color: var(--color-Warning-Contrast);
      border-color: var(--color-Warning-Tint);
    }
  }

  &--success {
    background-color: var(--color-Success);
    color: var(--color-Success-Contrast);
    border-color: var(--color-Success);

    &:hover {
      background-color: var(--color-Success-Tint);
      color: var(--color-Success-Contrast);
      border-color: var(--color-Success-Tint);
    }
  }

  &--info {
    background-color: var(--color-Info);
    color: var(--color-Info-Contrast);
    border-color: var(--color-Info);

    &:hover {
      background-color: var(--color-Info-Tint);
      color: var(--color-Info-Contrast);
      border-color: var(--color-Info-Tint);
    }
  }

  &--black {
    background-color: var(--color-Black);
    color: var(--color-White);
    border-color: var(--color-Black);

    &:hover {
      background-color: var(--color-White);
      color: var(--color-Black);
    }
  }

  &--white {
    background-color: var(--color-White);
    color: var(--color-Black);
    border-color: var(--color-White);

    &:hover {
      background-color: var(--color-Black);
      color: var(--color-White);
    }
  }
}