.display-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;

    padding: var(--display-icon-padding);
    font-size: var(--display-icon-font-size);

    .display-icon-base {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';

        border-radius: var(--display-icon-base-border-radius);
        opacity: var(--display-icon-base-opacity);
    }
}