@use "../utilities/breakpoints" as breakpoint;

.expandable-cards-wrapper {
    &--layout-3 {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 18px;

        @include breakpoint.breakpoint(md) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 24px;
        }

        @include breakpoint.breakpoint(lg) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 32px;
        }
    }
}

.expandable-card {
    font-size: 14px;

    .pill-wrapper {
        justify-content: center;
    }

    .card-content {
        gap: 12px;
    }

    .visible-content,
    .hidden-content {
        padding: 24px 16px;

        @include breakpoint.breakpoint(md) {
            padding: 32px 24px;
        }
    }

    .visible-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;
        text-align: center;
        gap: 12px;

        .icon-wrapper {
            display: flex;
            justify-content: center;
            margin-bottom: 8px;

            img {
                display: block;
                height: 100%;
                width: auto;
            }
        }

    }

    .hidden-content {
        border-top: 1px solid #eff2f5;
        display: none;
    }

    .card-trigger {
        cursor: pointer;
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        width: 100%;
        text-align: center;

        height: 32px;
        font-weight: 600;
        font-size: 12px;
        border-radius: 4px;
        color: #c33329;


        &:hover {
            background-color: #fdebed;
        }
    }

    .expandable-card-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .expandable-card-list-item {
        display: flex;
        align-items: flex-start;
        gap: 12px;

        .icon-wrapper {
            transform: translateY(4px);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 16px;
            width: 16px;
            flex: 0 0 auto;
            // outline: 1px solid red;
        }
    }

    &.expanded {
        .visible-content {
            height: auto;
        }

        .hidden-content {
            display: block;
        }

        .card-trigger {
            i {
                transform: rotate(180deg);
            }
        }
    }

}

// Override when in Elementor Editor
.elementor-editor-active {
    .hidden-content {
        display: block;
    }

    .expandable-card {
        .visible-content {
            height: auto;
        }
    }
}