.gallery {
    display: grid;
    place-items: center;

    .gallery-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .gallery-item {

        transition: all 240ms ease-out;

        img {
            display: block;
            height: 100px; // will be set by JS
            width: auto;
            transition: transform 120ms ease-in-out;
        }

        &:hover {
            transform: translateY(-4px);
            cursor: pointer;


            img {
                transform: scale(1.03);
            }
        }
    }
}