.gallery {
    display: grid;
    place-items: center;

    .gallery-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .gallery-item {
        img {
            display: block;
            width: auto;
        }
    }
}