.gallery {
    display: grid;
    place-items: center;

    .gallery-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .gallery-item {
        transition: all 240ms ease-out;

        img {
            display: block;
            height: 100px; // will be set by JS
            width: auto;
            transition: all 240ms ease-out;
        }

        &:hover {
            transform: translateY(-4px);
            cursor: pointer;


            img {
                transform: scale(1.03);
            }
        }
    }

    &--is-gray {

        .gallery-item {
            img {
                filter: grayscale(100%) opacity(0.6);
            }

            &:hover {
                transform: translateY(0px);

                img {
                    filter: grayscale(0%) opacity(1);
                    transform: scale(1.03);
                }
            }
        }
    }


}