.pill-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.pill {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: var(--pill-color);
    border-radius: var(--pill-border-radius);
    padding: 0 var(--pill-padding-x);
    height: var(--pill-height);
    font-size: var(--pill-font-size);
    background-color: var(--pill-background-color);
    border: 1px solid var(--pill-border-color);
}