/* Scroller Gallery */
.scroller-gallery {
    display: flex;
    align-items: center;
    justify-content: center;

    .gallery-section {
        padding: 2rem 0;
        border-radius: 1rem;

        &.grayed-out {
            .scroll-gallery-item {

                img {
                    filter: grayscale(100%) opacity(0.6);
                    transition: filter 0.3s ease, transform 0.7s ease-out;
                }

                &:hover {

                    img {
                        filter: grayscale(0%) opacity(1);
                    }
                }
            }
        }
    }

    .gallery-wrapper {
        display: flex;
        align-items: center;
    }

    .gallery-container {
        padding: 8px 0;
        overflow: hidden;
        width: 100%;
    }

    .scroll-gallery-item {
        transition: transform 0.4s ease-out;

        &:hover {
            transform: scale(1.05);
        }
    }

}


// .elementor-editor-active {

//     .scroller-gallery {
//         .gallery-wrapper {
//             gap: 24px;
//             flex-wrap: wrap;
//             justify-content: center;
//         }

//         .gallery-container {
//             overflow: visible;
//         }

//     }

// }