/* Scroller Gallery */
.scroller-gallery {
    display: flex;
    align-items: center;
    justify-content: center;

    .gallery-section {
        padding: 2rem 0;
        border-radius: 1rem;

        &.grayed-out {
            .scroll-gallery-item {

                img {
                    filter: grayscale(100%) opacity(0.6);
                    transition: filter 0.3s ease, transform 0.7s ease-out;
                }

                &:hover {

                    img {
                        filter: grayscale(0%) opacity(1);
                    }
                }
            }
        }
    }

    .gallery-wrapper {
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .gallery-container {
        // padding: 8px 0;
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
    }

    .scroll-gallery-item {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 8px;
        flex-shrink: 0;
        transition: transform 0.4s ease-out;
        transform: scale(0.95);

        &:hover {
            transform: scale(1);
        }

        img {
            height: 100%;
            width: auto;
            object-fit: cover;
        }
    }

}