.card-style {
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #d6dce4;
    transition: all 240ms ease-out;

    .active,
    &:hover {
        border: 1px solid #b9c3d5;
        box-shadow: 0 8px 16px 0 rgba(122, 129, 140, 0.15);
    }
}

.card-content {
    display: flex;
    flex-direction: column;

    p {
        margin: 0;
    }
}