.text {
    &-Primary {
        color: var(--color-Primary);
    }

    &-Secondary {
        color: var(--color-Secondary);
    }

    &-Secondary-50 {
        color: var(--color-Secondary-50);
    }

    &-Secondary-100 {
        color: var(--color-Secondary-100);
    }

    &-Secondary-200 {
        color: var(--color-Secondary-200);
    }

    &-Secondary-300 {
        color: var(--color-Secondary-300);
    }

    &-Secondary-400 {
        color: var(--color-Secondary-400);
    }

    &-Secondary-500 {
        color: var(--color-Secondary-500);
    }

    &-Secondary-600 {
        color: var(--color-Secondary-600);
    }

    &-Secondary-700 {
        color: var(--color-Secondary-700);
    }

    &-Secondary-800 {
        color: var(--color-Secondary-800);
    }

    &-Secondary-900 {
        color: var(--color-Secondary-900);
    }


    &-Secondary-950 {
        color: var(--color-Secondary-950);
    }




}