.eyebrow-text {
    // width: fit-content;
    display: inline-block;
    font-family: var(--eyebrow-font-family), "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-weight: var(--eyebrow-font-weight);
    font-size: var(--eyebrow-font-size);
    line-height: var(--eyebrow-line-height);
    letter-spacing: var(--eyebrow-letter-spacing);
    // text-transform: var(--eyebrow-text-transform);
    padding: var(--eyebrow-padding);
    border-radius: var(--eyebrow-border-radius);
    background-color: var(--eyebrow-background-color);
    // color: var(--eyebrow-color);
}