@use "../utilities/breakpoints" as breakpoints;

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;

    // For when background image is used;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .hero-content {
        flex: 1 1 auto;
        order: 2;
    }

    .hero-preview {
        flex: 0 0 auto;
        order: 1;

        img {
            display: block;
            width: 100%;
        }
    }

    &--centered {
        .text-content {
            text-align: center;
            align-items: center;
        }

        .inline-cta {
            justify-content: center;
        }

    }

    @include breakpoints.breakpoint(md) {
        &--boxed {
            margin: 0 var(--size-5);
            border-radius: var(--size-5);
        }
    }

    @include breakpoints.breakpoint(lg) {
        &--boxed {
            margin: 0 var(--size-6);
        }

        .container {
            flex-direction: row;
        }

        .hero-preview {
            order: 2;
        }

        .hero-content {
            order: 1;
        }

    }

}