.text-content {
    // flex: 1 1 auto;
    // order: 2;
    display: flex;
    flex-direction: column;
    gap: var(--text-content-gap);

    .inner-content {
        display: flex;
        flex-direction: column;
        gap: var(--text-content-gap-inner);

        p {
            margin: 0;
        }
    }

}