@use "../utilities/breakpoints" as breakpoints;

.section-padding {
    padding-top: var(--size-7); // 32px
    padding-bottom: var(--size-7); // 32px

    @include breakpoints.breakpoint('md') {
        padding-top: var(--size-8); // 48px
        padding-bottom: var(--size-8); // 48px
    }

    @include breakpoints.breakpoint('lg') {
        padding-top: var(--size-10); // 80px
        padding-bottom: var(--size-10); // 80px
    }
}